name: Playwright Tests
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: 'npm'
    
    - name: Install root dependencies
      run: npm install
      
    - name: Install website dependencies
      run: npm install
      working-directory: website
      
    - name: Install Playwright Browsers
      run: npx playwright install chromium --with-deps
      working-directory: website

    - name: Run Playwright tests
      run: npm run test:e2e
      working-directory: website

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: website/playwright-report/
        retention-days: 30
